*{margin: 0; padding: 0;}
*, *::after,*::before{box-sizing: border-box}
a{color: inherit;text-decoration: none}
ul,ol{list-style: none}
button{
    font-size: inherit;
}

div[v-cloak]{display: none}

@media (min-width: 500px) {
    .page > .container{height: 100vh; overflow: hidden;
        display: flex}
}

.page > div > main{
    flex-grow: 1;
    overflow: auto;
}
.button{
    padding: 3px 6px;
}

