.login{
    /*min-height: 100px;*/
    /*transform: translate(-50%,-50%);*/

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/
    /*background: url("../image/background.jpg") center no-repeat;*/
    /*background-size: cover;*/
    /*border: 1px solid red;*/
    height: 100vh;
    background: #eee;
}
.login > .form{
    /*width: 100%;*/
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -300px;
    /*background: #fff;*/
    padding: 20px 20px;
    height: 400px;
    color: #333;
    border: 1px solid #333;
    box-shadow: -2px 2px 2px 1px rgba(0,0,0,.1);
    border-radius: 5px;
    background: #fff;
}
.login > .form > h2{
    text-align: center;
    padding-bottom: 36px;
    font-size: 44px;
    font-family: Kai, serif;
}

.login > .form > .form-group{
    padding: 8px;
}

.login > .form > .form-group{
    display: flex;
}

.login > .form > .form-group > .signButton{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 24px;
}

.login > .form > .form-group{
    padding: 10px;
}
.login > .form > .form-group > div > button{
    /*width: 100%;*/
    /*background: #333;*/
    /*color: #ddd;*/
    /*border: none;*/
    margin: 5px;
}

.login > .form > .form-group > div > button:nth-child(1){
    color: #fff;
    background: #333;
}
.login > .form > .form-group > div > button:nth-child(1):hover{
    background: #111;
}
.login > .form > .form-group > div > button:nth-child(1):focus{
    outline: none;
}