.page > .container-fluid > .row > div > aside{
    display: none;
}

.page{
    padding: 20px;
}

.projects > ol > .row > li > div > .wrapper > .remove,
.skills > ul > .row > li > div > .wrapper > .remove,
.skills > ul > .row > div > .add,
.projects > ol > .row > div > .add{
    display: none;
}
