.share{
    position: fixed;
    min-width: 300px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: #ddd;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
    padding: 30px;
}
.share textarea{
    min-width: 400px;
    resize: none;
    word-break: break-all;
}